name: OpenSSF Scorecard

on:
  schedule:
    - cron: "0 2 * * 1"
  workflow_dispatch:

permissions:
  security-events: write
  id-token: write
  contents: read

jobs:
  analysis:
    name: Scorecard analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Scorecard
        uses: ossf/scorecard-action@v2.3.3
        with:
          results_format: sarif
          results_file: results.sarif
          publish_results: true
      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
